@using FitnessWebAppModels
@model WorkoutPlan

@{
    ViewData["Title"] = "ShowWorkout";
}

<style>

    .widget-area.blank {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }

    body .no-padding {
        padding: 0;
    }

    .widget-area {
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        float: left;
        margin-top: 30px;
        padding: 25px 30px;
        position: relative;
        width: 100%;
    }

    .dropdown > a > span.green:before {
        border-left-color: #2dcb73;
    }
</style>

<h2> @Model.Name </h2>  

<button id="LikePlanBtn" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-thumbs-up"></span> Like
</button> <p> Likes: @Model.Kudos</p>

<h3> Made by @Model.CreatorName</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].MuscleGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].SetTarget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].RepTarget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Exercises.Count > 0)
        {
            foreach (var exercise in Model.Exercises)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.MuscleGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.SetTarget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exercise.RepTarget)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ShowExercise", "Exercise", new { exercise.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>No exercises in workout</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CreatorName == User.Identity.Name)
{
    <button type="button" class="btn btn-default btn-sm">
        @Html.ActionLink("Add exercises", "AddExercises", "Workout", routeValues: Model)
    </button>
}

@if (User.Identity.IsAuthenticated)
{
    //TODO post comment code here?
    <div class="container">
        <div class="row">
            <h3>Add comment</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <textarea class="form-control" id="Comment" placeholder="Post your comment here!"></textarea>
                        <button id="Postcomment" class="btn btn-success green" style="margin-top:20px"><i class="fa fa-share"></i> Place comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Comments.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1><small class="pull-right">@Model.Comments.Count Comments</small> Comments </h1>
                </div>
                <div class="comments-list">
                    <div class="media">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="media-body col-xs-12">
                                <h4 class="media-heading user_name">@comment.Nickname</h4>
                                @comment.Text
                                <p><small><a class="pull-right" href="#">Like</a></small></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $('#Postcomment').click(function() {
            if ($('#Comment').val().length < 3) {
                alert("Enter at least 3 tokens");
            } else {
                $.ajax({
                    url: '@Url.Action("AddCommentToWorkout","Comment")',
                    data: {
                        workoutId:@Model.Id,
                        text: $('#Comment').val()
                    },
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        console.log("Successfully placed comment!");
                        alert(result.message);
                        location.reload(); 
                    },
                    error: function () {
                        alert("Adding comment failed");
                    }
                });
            }
        });

        $('#LikePlanBtn').click(function () { }); //TODO maak deze like ding

    </script>
}
