@model FitnessWebAppModels.Exercise

@{
    ViewData["Title"] = "ShowExercise";
}

<h2>ShowExercise</h2>
<div>
    <h4>Exercise</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MuscleGroup)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MuscleGroup)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
