@model FitnessWebAppModels.Exercise

@{
    ViewData["Title"] = "ShowExercise";
}
<style>
    .widget-area.blank {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }

    body .no-padding {
        padding: 0;
    }

    .widget-area {
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
        float: left;
        margin-top: 30px;
        padding: 25px 30px;
        position: relative;
        width: 100%;
    }

    .dropdown > a > span.green:before {
        border-left-color: #2dcb73;
    }


</style>

<h2>@Html.DisplayFor(model => model.Name)</h2>
<div>
    <h4> @Html.DisplayNameFor(model => model.MuscleGroup)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Info:
        </dt>
        <dd>
            @Model.Description
        </dd>
    </dl>
    @if (User.Identity.IsAuthenticated)
    {
        //TODO post comment code here?
        <div class="container">
            <div class="row">
                <h3>Add comment</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <textarea id="Comment" placeholder="Post your comment here!"></textarea> <br/>
                            <button id="Postcomment" class="btn btn-success green" style="margin-top:20px"><i class="fa fa-share"></i> Place comment</button>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>
            </div>
        </div>
    }

    @if (Model.Comments.Count > 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h1><small class="pull-right">@Model.Comments.Count Comments</small> Comments </h1>
                    </div>
                    <div class="comments-list">
                        <div class="media">
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="media-body col-xs-12">
                                    <h4 class="media-heading user_name">@comment.Nickname</h4>
                                    @comment.Text
                                    <p><small><a class="pull-right" href="#">Like</a></small></p>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $('#Postcomment').click(function() {
            if ($('#Comment').val().length < 3) {
                alert("Enter at least 3 tokens");
            } else {
                $.ajax({
                    url: '@Url.Action("AddCommentToExercise","Comment")',
                    data: {
                        exerciseId:@Model.Id,
                        text: $('#Comment').val()
                    },
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        console.log("Successfully placed comment!");
                        alert(result.message);
                        location.reload(); 
                    },
                    error: function () {
                        alert("Adding comment failed");
                    }
                });
            }
        });
    </script>
}
